* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background: #ecf1f4;
    font-family: sans-serif;
}

.signup
{
    background:rgba(44, 62, 80, 0.7);
	padding:40px;
	width:250px;
	margin:auto;
	margin-top:80px;
	height:430px;
	margin-left:180px;
	margin:0 auto;
	margin-top:90px;
}
form
{
    width: 240px;
    text-align: center;
}

h1  {
    text-align: center;
    color: #fff;
    font-weight: normal;
    margin-bottom: 20px;
}


input {
    width: 100%;
    background: none;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    /* margin-bottom: 20px; */
    font-size: 16px;
    color: #fff;
}

input[type="button"] {
    background: white;
    border: 0;
    cursor: pointer;
    color: #3e3d3d;
}

input[type="button"]:hover {
    background: #ecece8;
    transition: .6s;
}

::placeholder {
    color: #fff;
}

.name_error {
    padding: 6px 15px;
    color: #d50000;
    font-size: 12px;
    /* position: absolute; */
    margin-top: 3px;
    /* visibility: hidden; */
    /* display: block; */

    
}

.fields {
    margin-bottom: 10px;
}



